*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Itim";
    color:white;
    
}

body {
    background-color: #1E4D6B;
    font-size: 16px;
    width: 100%;
}



header {
    width: 100%;
    background-color: #0f1d2e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    width: 100%;
    background-color: #203F63;
    padding: 20px;
    margin-top: -10px;
    box-shadow: 0px 0px 10px 0px black;
    font-size: 35px;
    font-weight: normal;
    text-align: center;
}

.form-nav {
    background-image: url("../img/photo_header1.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 1200px;
    min-width: 769px;
    margin: 0 auto;
}

.computer{
    position: relative;
    left: 460px;
    top:65px;
    width: 340px;
    transition: transform 0.3s ease;
}

.disk{
    position:relative;
    top:110px;
    left:-20px;
    width:120px;
    transition: transform 0.3s ease;
}

.telephone{
    position:relative;
    top:110px;
    left:300px;
    width:100px;
    transition: transform 0.3s ease;
}




.computer:hover, .disk:hover, .telephone:hover{
    transform: scale(1.1);
}




main {
    width: 100%;
    height: 100%;
}

.form-profil {
    display: flex;
    background-color: #13243979;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
}

.form-profil img{
    width: 200px;
}

.form-profil .text-pres{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
}

.profil, .skill, .portfolio, .contact{
    width: 80%;
    margin:80px auto;
}
main h1, .modal h1, .contact h1{
    background-color: #203F63;
    padding: 20px;
    margin-top:-10px;
    box-shadow: 0px 0px 10px 0px black;
    font-size: 35px;
    font-weight: normal;
}



.modal h1{
    font-size: 25px;
}

h2{
    text-transform: uppercase;
    font-weight: lighter;
    text-decoration: underline;
    font-size: 30px;
    text-align: center;
}

.form-experience {
    display: flex;
    flex-direction: row;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}


.form-professionnelle, .form-scolaire{
    display: flex;
    flex-direction: column;
    gap:100px;
    width: 50%;
    align-items: center;
}

.form-scolaire p, .form-professionnelle p{
    width:70%;
}

.form-scolaire div, .form-professionnelle div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fleche{
    height: 550px;
    padding-top: 100px;
}
    

.skill{
    overflow: hidden;
    background: #13243979;
    padding: 10px 0;
    position: relative;
    width: 80%;
    white-space: nowrap;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.5); /* Ombre en haut */
}


.bandeau{
    display: flex;
    gap: 80px;
    height: 150px;
    padding-top: 15px;
    animation: scroll 15s linear infinite;
    width: max-content;
}

.form-skill{
    display: flex;
    gap: 80px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:15px;
}

.logo img{
    height: 80px;
}

.form-portfolio, .form-contact{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #13243979;
    padding: 40px;
}

.form-projet{
    display: flex;
    justify-content: space-between;
    gap:40px;
    flex-wrap: wrap;
    text-align: center;

}
.card img{
    width: 250px;
    height: 124.14px;
}
.card{
    display: flex;
    flex-direction: column;
    width: 250px;
    position: relative;
    transition: transform 0.2s ease-out;
    perspective: 800px;
    transform-style: preserve-3d; /* Important pour l'effet 3D */
    border-radius: 20px;
    overflow: hidden;
}

.card:hover{
    transform: translateY(-10px) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
    cursor:pointer;
}


.card div{
    display: flex;
    flex-direction: column;
    background-color:#203F63 ;
    height: 180px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.modal-content h2{
    margin: 40px 0px;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}


.modal-content {
    background: #132439;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    max-width: 1000px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow-y: scroll;
}

.modal h1{
    margin: 20px 0px;
    padding: 10px 10px;
}

.modal p{
    padding: 0px 20px;
}


body::-webkit-scrollbar {
    width: 12px; /* Largeur de la scrollbar */
}

body::-webkit-scrollbar-track {
    background: #002b5c;
}

body::-webkit-scrollbar-thumb {
    background: #1E4D6B;
    border-radius: 10px;
}



ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
}

.modal.show {
    display: flex;
    opacity: 1;
}

.modal.show .modal-content {
    transform: scale(1);
    opacity: 1;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}




.slider-container {
    position: relative;
    max-width: 90%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.slide p {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    transition: 0.3s;
    border-radius: 100%;
}

.prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.8);
}

.prev { left: 10px; }
.next { right: 10px; }

.contact{
    width: 80%;

}

.sizelogo{
    height: 50px;
}

.form-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
    font-size: 18px;
}
.form-contact{
    display: flex;
    flex-direction: row;
}

/* Media Queries pour la responsivité */
@media screen and (max-width: 768px) {
    body{
        font-size:16px;
    }
    header h1, main h1 {
        font-size: 20px;
    }

    h2{
        font-size: 16px;
    }
    .resize {
        display: none;
    }

    .form-profil {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    .form-professionnelle, .form-scolaire{
        gap:30px;
    }

    .form-experience, .form-projet, .form-contact {
        flex-direction: column;
        align-items: center;
        gap:60px;
    }

    .form-experience{
        flex-direction: column-reverse;
    }

    .form-skill{
        gap:40px;
        width: 80%;
    }
    .fleche{
        display:none;
    }

    .skill {
        width: 80%;
        white-space: nowrap;
    }
    .logo img{
        height: 60px;
    }

    .bandeau{
        height: 110px;
    }

    .form-contact{
        flex-direction: column;
        align-items: flex-start;
    }
    ul{
        flex-wrap: wrap;
        gap:15px;
    }

    .modal-content{
        overflow: scroll;
    }

    .card{
        width: 100%;
    }

    .card img{
        width: 100%;
    }
    .card p{
        font-size: 16px;
    }
}
